body {
  padding: 0;
  margin: 0;
}
.header {
  height: 100px;
}
.logo {
  margin-top: 30px;
  float: left;
}

.menu {
  margin-top: 50px;
  float: left;
}
.menu ul li {
  float: left;
  list-style: none;
  margin-left: 50px;
  text-transform: uppercase;
  color: #b1cd4b;
  font-size: 15px;
}
.text-login {
  font-size: 30px;
  font-weight: 800;
  color: #a0be34;
  text-align: center;
}
.form-login {
  margin-left: 400px;
}
.form-login button {
  width: 150px;
  height: 60px;
  background-color: #a0be34;
  font-size: 15px;
  color: aliceblue;
  font-weight: 600;
}
.footer {
  background-color: #a0be34;
}

.footer-1-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-1-1 .content-footer {
  margin-left: 30px;
  color: antiquewhite;
  font-family: sans-serif;
  font-weight: 400;
}
.footer-1-1 h1 {
  text-transform: uppercase;
  color: antiquewhite;
  font-size: 25px;
  margin-left: 30px;
}

.footer-1-1 .menu-about ul li {
  list-style: none;
  color: antiquewhite;
  font-family: sans-serif;
  font-weight: 600;
}

/*responsive*/
@media (max-width: 600px) {
  .skin-care {
    margin-bottom: 50px;
    text-align: center;
  }
  .text-skin-care {
    margin-top: 50px;
  }
  .skin-green1-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .skin-care {
    margin-bottom: 50px;
    text-align: center;
  }
  .text-skin-care {
    margin-top: 50px;
  }
  .skin-green1-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
