body {
  padding: 0;
  margin: 0;
}
.header {
  height: 100px;
}
.logo {
  margin-top: 30px;
  float: left;
}

.menu {
  margin-top: 50px;
  float: left;
}
.menu ul li {
  float: left;
  list-style: none;
  margin-left: 50px;
  text-transform: uppercase;
  color: #b1cd4b;
  font-size: 15px;
}

.center-page {
  height: auto;
}

.viewpage1 .img-face img {
  width: 100%;
  height: auto;
}
.text-thanhcong {
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  color: #a0be34;
  font-weight: 700;
}
.return-home {
  text-align: center;
}
.text-skin-care {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #b1cd4b;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 300px;
}
.text-infor-care {
  font-weight: 350;
  color: #b1cd4b;
  font-size: 18px;
  line-height: 20px;
}

.viewpage2 {
  padding-top: 50px;
}
.text-list-product {
  font-weight: 800;
  text-transform: uppercase;
  color: #b1cd4b;
  font-family: sans-serif;
  font-size: 25px;
}

.product .product-view {
  margin: 5px;
  border: #b1cd4b 1px solid;
  border-radius: 5px;
}
.product .product-view img {
  width: 100%;
  height: 300px;
  border: none;
}
.product .product-view .infor-product p {
  font-size: 15px;
  font-weight: 300;
  color: black;
  font-family: sans-serif;
  margin-left: 30px;
}
.product .product-view .infor-product strong {
  font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
  color: black;
  margin-left: 30px;
}
.product .product-view .button {
  margin: 30px;
}
.cart-text {
  font-size: 35px;
  font-weight: 700;
  font-family: sans-serif;
  color: #b1cd4b;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.cart-view-infor-order {
  font-size: 20px;
  font-family: sans-serif;
  color: #b1cd4b;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer {
  background-color: #a0be34;
}

.footer-1-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-1-1 .content-footer {
  margin-left: 30px;
  color: antiquewhite;
  font-family: sans-serif;
  font-weight: 400;
}
.footer-1-1 h1 {
  text-transform: uppercase;
  color: antiquewhite;
  font-size: 25px;
  margin-left: 30px;
}

.footer-1-1 .menu-about ul li {
  list-style: none;
  color: antiquewhite;
  font-family: sans-serif;
  font-weight: 600;
}

/*responsive*/
@media (max-width: 600px) {
  .skin-care {
    margin-bottom: 50px;
    text-align: center;
  }
  .text-skin-care {
    margin-top: 50px;
  }
  .skin-green1-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .skin-care {
    margin-bottom: 50px;
    text-align: center;
  }
  .text-skin-care {
    margin-top: 50px;
  }
  .skin-green1-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
