{%load static%} {% load cart %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="header container-lg">
      <div class="logo col-12 col-sm-12 col-lg-6">
        <img src="{% static 'img/logo.png' %}" alt="image logo" />
      </div>
      <div class="menu col-12 col-sm-12 col-lg-6">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li><i class="fa-solid fa-cart-plus"></i>({{sumquantity}})</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="cart-text">Giỏ hàng</div>
      {% if product %}
      <div class="cart-item col-lg-8">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Name Product</th>
              <th scope="col">Quanlity</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            {% for cart in product %}
            <tr>
              <td>
                <img
                  src="http://192.168.1.25:5000/image_view/{{cart.id}}"
                  alt=""
                  width="100px"
                  height="100px"
                />
              </td>
              <td>{{cart.productname}}</td>
              <td>
                <form action="{% url 'module:cart' %}" method="post">
                  {% csrf_token %}
                  <input
                    hidden
                    type="number"
                    value="{{cart.id}}"
                    name="product"
                  />
                  <input
                    type="text"
                    id="quantity"
                    name="quantity"
                    value="{{cart.qty}}"
                    min="1"
                    maxlength="4"
                    size="4"
                  />
                  <input type="submit" class="btn btn-success" value="+" />
                </form>
              </td>

              <td>{{cart.sub_total}} đồng</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="infor-order col-lg-4">
        <div class="cart-view-infor-order">
          Price total : {{pricetotal}} đồng
        </div>
        {% if abcuser and user %}
        <a href="{% url 'module:checkout' %}">
          <div class="btn btn-danger">checkout</div>
        </a>
        {% else %}
        <a href="{% url 'module:login' %}">
          <div class="btn btn-danger">checkout</div>
        </a>
        {% endif %}
      </div>
    </div>
    {% else %}
    <div class="text-product-none" style="color: red; text-align: center">
      Hiện tại chưa có sản phẩm nào trong giỏ dàng
    </div>
    {% endif %}
    <div
      class="btn-continueshopping"
      style="text-align: center; padding-top: 30px"
    >
      <a href="{% url 'module:home' %}">
        <div class="btn btn-danger">Tiep tuc mua sam</div>
      </a>
    </div>

    <div class="footer">
      <div class="footer-jumbla container-lg">
        <div class="footer-row1 row">
          <div class="footer-1 col-12 col-sm-12 col-lg-6">
            <div class="footer-1-1">
              <h1>About</h1>
              <div class="content-footer">
                Lorem ipsum dolor sit amet consectetur <br />Lorem ipsum dolor
                adipisicing<br />
                elit, sed do eiusmod Lorem ipsum
              </div>
            </div>
          </div>
          <div class="footer-2 col-12 col-sm-12 col-lg-6">
            <div class="footer-row2 row">
              <div class="about-footer col-12 col-sm-12 col-lg-4">
                <div class="footer-1-1">
                  <h1>About</h1>
                  <div class="menu-about">
                    <ul>
                      <li>Team</li>
                      <li>Join us</li>
                      <li>Ethic</li>
                      <li>Goals</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="about-footer col-12 col-sm-12 col-lg-4">
                <div class="footer-1-1">
                  <h1>About</h1>
                  <div class="menu-about">
                    <ul>
                      <li>Team</li>
                      <li>Join us</li>
                      <li>Ethic</li>
                      <li>Goals</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="about-footer col-12 col-sm-12 col-lg-4">
                <div class="footer-1-1">
                  <h1>About</h1>
                  <div class="menu-about">
                    <ul>
                      <li>Team</li>
                      <li>Join us</li>
                      <li>Ethic</li>
                      <li>Goals</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
