{%load static%}{% load cart %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/pagelogin.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="header container-lg">
      <div class="logo col-12 col-sm-12 col-lg-6">
        <img src="{% static 'img/logo.png' %}" alt="image logo" />
      </div>
      <div class="menu col-12 col-sm-12 col-lg-6">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li><i class="fa-solid fa-cart-plus"></i>({{sumquantity}})</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="text-login">Login</div>
        <div class="form-login col-4">
          <form action="" method="post">
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
              {% endfor %}
            </ul>
            {% endif %} {% csrf_token %}

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Email</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Vui lòng nhập email"
                name="email"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Mật khẩu</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Vui lòng nhập mật khẩu"
                name="password"
              />
            </div>
            <button>Đăng nhập</button>
          </form>
          <a href="{% url 'module:get_register' %}"><p>Create acccount</p></a>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-jumbla container-lg">
        <div class="footer-row1 row">
          <div class="footer-1 col-12 col-sm-12 col-lg-6">
            <div class="footer-1-1">
              <h1>About</h1>
              <div class="content-footer">
                Lorem ipsum dolor sit amet consectetur <br />Lorem ipsum dolor
                adipisicing<br />
                elit, sed do eiusmod Lorem ipsum
              </div>
            </div>
          </div>
          <div class="footer-2 col-12 col-sm-12 col-lg-6">
            <div class="footer-row2 row">
              <div class="about-footer col-12 col-sm-12 col-lg-4">
                <div class="footer-1-1">
                  <h1>About</h1>
                  <div class="menu-about">
                    <ul>
                      <li>Team</li>
                      <li>Join us</li>
                      <li>Ethic</li>
                      <li>Goals</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="about-footer col-12 col-sm-12 col-lg-4">
                <div class="footer-1-1">
                  <h1>About</h1>
                  <div class="menu-about">
                    <ul>
                      <li>Team</li>
                      <li>Join us</li>
                      <li>Ethic</li>
                      <li>Goals</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="about-footer col-12 col-sm-12 col-lg-4">
                <div class="footer-1-1">
                  <h1>About</h1>
                  <div class="menu-about">
                    <ul>
                      <li>Team</li>
                      <li>Join us</li>
                      <li>Ethic</li>
                      <li>Goals</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
