{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="header container-lg">
      <div class="logo col-12 col-sm-12 col-lg-6">
        <img src="{% static 'img/logo.png' %}" alt="image logo" />
      </div>
      <div class="menu col-12 col-sm-12 col-lg-6">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li><i class="fa-solid fa-cart-plus"></i>({{sumquantity}})</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>

    <div class="form-donhang">
      <div class="form-donhang1">
        <form action="{% url 'module:payment' %}" method="post">
          {% csrf_token %}

          <div class="row form-infor-product-cus">
            <div class="text-infor-order">Thông tin đơn đặt hàng</div>

            <div class="form-cus-pro col-lg-12">
              <div class="row">
                <div class="customers col-lg-6">
                  <div class="customer_name">
                    Tên khách hàng: {{user.firstname}} {{user.lastname}}
                  </div>
                  <div class="address">Địa chỉ: {{user.address}}</div>
                  <div class="number_phone">Số điện thoại: {{user.phone}}</div>
                  <div class="email">Địa chỉ email: {{user.email}}</div>
                </div>
                <div class="product col-lg-6">
                  {% for cart in product %}
                  <div class="row" style="padding-top: 20px">
                    <div class="image-product col-lg-5">
                      <img
                        src="http://192.168.1.25:5000/image_view/{{cart.id}}"
                        alt=""
                        width="100%"
                        height="100px"
                      />
                    </div>
                    <div class="infor-product col-lg-7">
                      <div class="infor-products">
                        <p
                          style="
                            color: darkgreen;
                            font-weight: 600;
                            font-size: 12px;
                          "
                        >
                          Name product: {{cart.productname}}
                        </p>
                      </div>
                      <div class="infor-products">
                        <p
                          style="
                            color: darkgreen;
                            font-weight: 600;
                            font-size: 12px;
                          "
                        >
                          Price: {{cart.price}} đồng
                        </p>
                      </div>
                      <div class="infor-products">
                        <p
                          style="
                            color: darkgreen;
                            font-weight: 600;
                            font-size: 12px;
                          "
                        >
                          quantity: {{cart.qty}}
                        </p>
                      </div>
                    </div>
                  </div>

                  {% endfor %}

                  <div class="infor-order col-lg-12">
                    <div class="cart-view-infor-order">
                      Price total : {{pricetotal}} đồng
                    </div>
                  </div>
                </div>
              </div>
              <div class="button-thanhtoan">
                <input
                  type="submit"
                  class="btn btn-success"
                  value="Thanh toán"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="footer">
      <div class="footer-jumbla container-lg">
        <div class="footer-row1 row">
          <div class="footer-1 col-12 col-sm-12 col-lg-6">
            <div class="footer-1-1">
              <h1>About</h1>
              <div class="content-footer">
                Lorem ipsum dolor sit amet consectetur <br />Lorem ipsum dolor
                adipisicing<br />
                elit, sed do eiusmod Lorem ipsum
              </div>
            </div>
          </div>
          <div class="footer-2 col-12 col-sm-12 col-lg-6">
            <div class="footer-row2 row">
              <div class="about-footer col-12 col-sm-12 col-lg-4">
                <div class="footer-1-1">
                  <h1>About</h1>
                  <div class="menu-about">
                    <ul>
                      <li>Team</li>
                      <li>Join us</li>
                      <li>Ethic</li>
                      <li>Goals</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="about-footer col-12 col-sm-12 col-lg-4">
                <div class="footer-1-1">
                  <h1>About</h1>
                  <div class="menu-about">
                    <ul>
                      <li>Team</li>
                      <li>Join us</li>
                      <li>Ethic</li>
                      <li>Goals</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="about-footer col-12 col-sm-12 col-lg-4">
                <div class="footer-1-1">
                  <h1>About</h1>
                  <div class="menu-about">
                    <ul>
                      <li>Team</li>
                      <li>Join us</li>
                      <li>Ethic</li>
                      <li>Goals</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
